body {
  background-color: rgb(255, 255, 255);
}

/* SECTION & WRAPPER */

.about-section {
  background-color: #08080f;
  padding-bottom: 9rem;
}

.about-wrapper {
  min-height: 80rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url(../assets/Path.svg) no-repeat bottom;
  background-size: cover;
}

/* Central alignment container */
.about-content {
  width: 80%;
  max-width: 1400px;
  padding: 0 0 0 2rem;
  z-index: 111;
  display: flex;
  flex-direction: column;
}

/* HEADING */
.about-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-top: 15rem;
  padding-bottom: 2rem;

  font-size: 5.5rem;
  background: none;
}

/* TEXT BLOCK */
.about-text {
  display: flex;
  flex-direction: column;
  align-self: center;

  max-width: 35rem;
  margin-top: 3rem;

  font-size: 1.5rem;
  font-weight: 400;
}

/* ABOUT ME */
.about-me-title {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.about-me {
  margin: 0 auto;
  max-width: 55rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* ANIMATIONS */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* >= 1920px */
@media (min-width: 1920px) {
  .about-wrapper {
    min-height: 120rem;
  }

  .about-content {
    max-width: 1600px;
    padding: 0 6rem;
  }

  .about-heading {
    font-size: 6.5rem;
  }

  .about-text {
    max-width: 42rem;
    font-size: 1.7rem;
  }

  .about-me {
    max-width: 65rem;
  }
}

/* 1200px – 1919px */
@media (min-width: 1200px) and (max-width: 1919px) {
  .about-heading {
    font-size: 5.2rem;
  }

  .about-text {
    max-width: 34rem;
  }

  .about-me {
    font-size: 2rem;
    max-width: 40rem;
    padding-bottom: 11rem;
  }
}

/* 992px – 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .about-wrapper {
    min-height: auto;
  }

  .about-heading {
    font-size: 4.5rem;
    padding-top: 12rem;
  }

  .about-text {
    align-self: center;
    width: 60%;
    max-width: 80%;
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .about-me {
    padding-bottom: 10rem;
    max-width: 70%;
    font-size: 2rem;
  }
}

/* 768px – 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .about-heading {
    font-size: 3rem;
    padding-top: 9rem;
  }

  .about-text {
    max-width: 100%;
    align-self: flex-start;
    font-size: 0.8rem;
  }

  .about-me {
    max-width: 80%;
    font-size: 1.4rem;
  }
}

/* 481px – 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .about-content {
    padding: 0 0rem;
  }

  .about-heading {
    font-size: 3.2rem;
    padding-top: 0rem;
  }

  .about-text {
    margin: 0 1rem;
    font-size: 0.9rem;
  }

  .about-me-title {
    font-size: 1.6rem;
  }

  .about-me {
    font-size: 1.2rem;
  }
}

/* <= 480px */
@media (max-width: 480px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .about-wrapper {
    background-position: center bottom;
  }

  .about-content {
    padding: 0 1.5rem;
  }

  .about-heading {
    font-size: 2.6rem;
    padding-top: 0rem;
  }

  .about-text {
    min-width: 15rem;
    margin-top: 1rem;
    font-size: 0.75rem;
  }

  .about-me-title {
    font-size: 1.4rem;
  }

  .about-me {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
}
