/* Root Layout */
.animated-sections {
  position: relative;
  /* height: 200vh; */
  background: #000;
  overflow-x: hidden;
}

/* Shared section styles */
.section {
  position: sticky;
  top: 0;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
}

.section--light {
  background: linear-gradient(to top, #ebebeb, #dadada);
  color: #000;
}

.section--dark {
  background: linear-gradient(to top, #06060e, #1a1919);
  color: #fff;
}

.section__grid-overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      to right,
      rgba(79, 79, 79, 0.18) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
  background-size: 54px 54px;
  mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 100%
  );
  z-index: 0;
}

.section__title {
  position: relative;
  z-index: 1;
  font-size: clamp(2rem, 6vw, 4.5rem);
  line-height: 1.2;
  padding: 0 1rem;
}

/* Section 2 content */
.section__content {
  position: relative;
  z-index: 1;
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.section__heading {
  font-size: clamp(2rem, 5vw, 3.5rem);
  margin-bottom: 2rem;
  line-height: 1.1;
  display: flex;
  text-align: left;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.project-sub-head{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 0.8rem;
    font-family: monospace;
    margin: 4.5rem 0rem 3rem 0rem;
}

.section__image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.section__image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
