.stagger-wrapper {
  position: relative;
  width: 1100px;
  height: 470px;
  overflow: hidden;
}

.testimonial-card {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 280px !important;
  height: 280px !important;
  border: 2px solid #5e5e5e;
  background: linear-gradient(to top, #06060e, #1a1919);
  color: #ffffff;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0 100%, 0 0);
}

.testimonial-card.center {
  border-color: #575757;
  background: linear-gradient(to top, #e4e4e4, #ffffff);
  color: #000000;
  z-index: 10;
}

.testimonial-card h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.testimonial-card p {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.8;
}

.testimonial-img {
  width: 0.5rem;
  height: 0.5rem;
  object-fit: none;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 0px #f5f5f5;
}

.decor-line {
  position: absolute;
  background-color: #ccc;
  transform-origin: top right;
  transform: rotate(45deg);
  display: block;
}

.controls {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.controls button {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #ccc;
  background: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.controls button:hover {
  background-color: #f0f0f0;
  color: #000000;
  border-color: #6e6e6e;
}
